html {
  font-size: 62.5%;
}

body {
  background-color: $dark-blue;
  font-size: $m-size;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

button:disabled {
  cursor: default;
}
